<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ MIT License
  ~
  ~ Copyright (c) 2022 LIN I MIN
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  ~ SOFTWARE.
  -->

<!-- [App Manifest Overview](https://developer.android.com/guide/topics/manifest/manifest-intro) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.newproj.lbrytv">

    <!-- [Declare Leanback support](https://developer.android.com/training/tv/start/start#leanback-req) -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <!-- [Declare touchscreen not required](https://developer.android.com/training/tv/start/start#no-touchscreen) -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!-- [Declaring hardware requirements for TV](https://developer.android.com/training/tv/start/hardware#declare-hardware-requirements) -->
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <!-- https://developer.android.com/reference/androidx/leanback/app/SearchSupportFragment -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- [Provide a home screen banner](https://developer.android.com/training/tv/start/start#banner) -->
    <application>

        <!-- [Declare a TV activity](https://developer.android.com/training/tv/start/start#tv-activity) -->
        <!-- [Splash screen](https://developer.android.com/guide/topics/ui/splash-screen/migrate) -->
        <activity
            android:name=".TvActivity"
            android:banner="@drawable/banner"
            android:exported="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <nav-graph android:value="@navigation/nav_graph" />
        </activity>

        <!-- Broadcast receiver used to receive communication from the TV Launcher -->
        <receiver
            android:name=".TvLauncherReceiver"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <!-- Our app has been installed and should create its channel in the launcher -->
                <action
                    android:name="android.media.tv.action.INITIALIZE_PROGRAMS" />
                <!-- User has added a program to the system's watch next channel -->
                <action
                    android:name="android.media.tv.action.PREVIEW_PROGRAM_ADDED_TO_WATCH_NEXT" />
                <!-- User has removed a program from one of our channels -->
                <action
                    android:name="android.media.tv.action.PREVIEW_PROGRAM_BROWSABLE_DISABLED" />
                <!-- User has removed a program from the system's watch next channel -->
                <action
                    android:name="android.media.tv.action.WATCH_NEXT_PROGRAM_BROWSABLE_DISABLED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
